footer.hela-footer
  .container-fluid
    .hela-footer__inner
      a.hela-footer__brand(href=rootPath + 'index.html')
        .hela-nav__mark
          span
          span
          span
          span
          span
          span
        span.hela-nav__wordmark hela
      p.hela-footer__copy © #{new Date().getFullYear()} Hela
      .hela-footer__lang
        a(href=rootPath + 'index.html', class=lang === 'pl' ? 'active' : '') PL
        a(href=rootPath + 'en/index.html', class=lang === 'en' ? 'active' : '') EN
